include ../includes/meta.pug
style 
	include ../css/allCountries.css
body
	include ../includes/header.pug
	main(data-page=pageNumber)
		.searchAndFilters
			.searchBarDiv
				input.searchBar(type="text" placeholder="Search for a country...")
				i.fa-regular.fa-eye
			.filterDropdown
				h2 Filter by Region
				ul
					li Africa
					li America
					li Asia
					li Europe
					li Oceania
					li All

		.countries
			each country in data
				.country
					img(src=`${country.flags.svg}`)
					h2 #{country.name.common}
					.countryInfo
						.detail
							h3 Population: 
							span #{country.population}
						.detail
							h3 Region: 
							span #{country.region}
						.detail
							h3 Capital: 
							span
								each capital in country.capital
									| #{capital},

		.pageNavigation
			if previous
				button.previousPage
					| Previous
			if next
				button.nextPage
					| Next

	script(src="../allCountries.js" type="module")