include ../includes/meta.pug
style
	include ../css/country.css
body
	include ../includes/header.pug
	main(data-previous=previous)
		button.backButton
			i.fa-solid.fa-arrow-left
			span Back
		img.countryFlag(src=`${data.flags.svg}`)
		.countryInfo
			h2.countryName #{data.name.official}
			.countryDetails
				.countryDetailsMain
					.detail
						h3 Native Name: 
						span #{Object.values(data.name.nativeName)[0].official}
					.detail 
						h3 Population: 
						span #{data.population}
					.detail 
						h3 Region: 
						span #{data.region}
					.detail 
						h3 Sub Region: 
						span #{data.subregion}
					.detail 
						h3 Capital: 
						span #{data.capital}
				
				.countryDetailsSub
					.detail
						h3 Top Level Domain: 
						- var domains = data.tld;
						span
							each domain in domains
								| #{domain}, 
					.detail
						h3 Currencies: 
						span #{Object.values(data.currencies)[0].name}
					.detail
						h3 Languages: 
						span #{Object.values(data.languages)[0]}
			
			.borderCountriesWrapper
				h3 Border Countries: 
				.borderCountries
					- var borderCountries = data?.borders
					if borderCountries
						each borderCountry in borderCountries
							button.borderCountry
								span #{borderCountry}

	script(src="../country.js" type="module")